---
apiVersion: v1
kind: Service
metadata:
  name: redis-master
  namespace: database
spec:
  selector:
    app.kubernetes.io/instance: redis
    redis-role: master
  ports:
    - name: redis
      port: 6379
      targetPort: 6379
  type: ClusterIP