---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml

  # Flux-Kustomizations
  - ./cilium/ks.yaml
  - ./descheduler/ks.yaml
  - ./external-secrets/ks.yaml
  - ./eraser/ks.yaml
  - ./kube-cleanup-operator/ks.yaml
  - ./kured/ks.yaml
  - ./node-feature-discovery/ks.yaml
  - ./reloader/ks.yaml