---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name qbittorrent
  namespace: downloads

spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system

  install:
    timeout: 10m
    replace: true
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3

  upgrade:
    remediation:
      remediateLastFailure: true
      retries: 3
      strategy: rollback
    cleanupOnFail: true
    crds: CreateReplace

  test:
    enable: true

  rollback:
    recreate: true
    force: true
    cleanupOnFail: true

  uninstall:
    keepHistory: false
    
  maxHistory: 1

  values:

    controllers:
      ${APP}:
        enabled: true
        type: deployment
        annotations: {}
        replicas: 1

        # Controller-specific overrides for `defaultPodOptions` keys
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            nameOverride: qbittorrent
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:56ecd30a7f5e1357daf5eea2a6935134d329b7b268a3a9b9c67041b65fb87fc6
              pullPolicy: IfNotPresent

            lifecycle:
              postStart:
                exec:
                  command: ["/bin/sh", "-c", "cp /template/qBittorrent.conf /config/qBittorrent/qBittorrent.conf"]

            env:
              TZ: ${TIMEZONE}
              QBT_WEBUI_PORT: &port 8080
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 4Gi

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v2/app/version
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        controller: *name
        type: LoadBalancer
        annotations:
          metallb.io/loadBalancerIPs: "${QBT_IP}"
        externalTrafficPolicy: Local # Preserve public source IPs, otherwise it looks like it comes from within the cluster
        ports:
          http:
            port: *port
          bittorrent-tcp:
            port: &btport 50413
            protocol: TCP
            targetPort: *btport
          bittorrent-udp:
            port: *btport
            protocol: UDP
            targetPort: *btport

    ingress:
      app:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
          external-dns.alpha.kubernetes.io/target: traefik.local.${SECRET_DOMAIN}
          traefik.ingress.kubernetes.io/router.middlewares: networking-internal-with-errors@kubernetescrd
          hajimari.io/icon: arcticons:qbittorrent-remote
          hajimari.io/info: &description Download Management
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: *description
          gethomepage.dev/group: Downloads
          gethomepage.dev/icon: qbittorrent
          gethomepage.dev/name: qBittorrent
          gethomepage.dev/widget.type: ${APP}
          gethomepage.dev/widget.url: &siteMonitor http://${APP}.downloads.svc.cluster.local:8080
          gethomepage.dev/widget.username: "{{ `{{HOMEPAGE_VAR_QBITTORRENT_USERNAME}}` }}"
          gethomepage.dev/widget.password: "{{ `{{HOMEPAGE_VAR_QBITTORRENT_PASSWORD}}` }}"
          gethomepage.dev/widget.enableLeechProgress: "true"
          gethomepage.dev/widget.enableLeechSize: "true"
          gethomepage.dev/siteMonitor: *siteMonitor

        hosts:
          - host: &host ${APP}.local.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

        tls: 
         - secretName: ${APP}-tls-production
           hosts:
             - *host

    persistence:

      config:
        enabled: true
        suffix: config
        type: persistentVolumeClaim
        storageClass: longhorn
        accessMode: ReadWriteOnce
        size: 256Mi
        retain: true
        globalMounts: []

      config-file:
        type: configMap
        name: qbt-configmap
        globalMounts:
          - path: /template/qBittorrent.conf
            subPath: qBittorrent.conf
            readOnly: true

      downloads:
        enabled: true
        type: nfs
        server: ${OMV_IP}
        path: /export/downloads
        globalMounts:
          - path: /media/downloads
      