apiVersion: longhorn.io/v1beta2
kind: RecurringJob
metadata:
  name: backup
  namespace: storage
spec:
  cron: "10 7 * * *" #UTC
  task: "backup"
  groups:
  - default
  retain: 1
  concurrency: 2