apiVersion: longhorn.io/v1beta2
kind: RecurringJob
metadata:
  name: filesystem-trim
  namespace: storage
spec:
  cron: "0 7 * * *" #UTC
  task: "filesystem-trim"
  groups:
  - default
  retain: 1
  concurrency: 2