---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:

  # Pre Flux-Kustomizations
  - ./namespace.yaml

  # Flux-Kustomizations
  - ./agregarr/ks.yaml
  - ./autopulse/ks.yaml
  - ./dispatcharr/ks.yaml
  - ./isponsorblocktv/ks.yaml
  - ./maintainerr/ks.yaml
  - ./plex/ks.yaml
  - ./requestrr/ks.yaml
  - ./seerr/ks.yaml
  - ./tauticord/ks.yaml
  - ./tautulli/ks.yaml
  - ./tracearr/ks.yaml
  - ./wizarr/ks.yaml
