---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: descheduler
  namespace: kube-system

spec:
  interval: 30m
  chart:
    spec:
      chart: descheduler
      version: 0.34.0
      sourceRef:
        kind: HelmRepository
        name: descheduler-charts
        namespace: flux-system
      interval: 10m

  install:
    timeout: 10m
    replace: true
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3

  upgrade:
    remediation:
      remediateLastFailure: true
      retries: 3
      strategy: rollback
    cleanupOnFail: true
    crds: CreateReplace

  test:
    enable: true

  rollback:
    recreate: true
    force: true
    cleanupOnFail: true

  uninstall:
    keepHistory: false
    
  maxHistory: 1

  values:

    kind: CronJob
    schedule: "0 6 * * *"
    startingDeadlineSeconds: 200
    successfulJobsHistoryLimit: 3
    failedJobsHistoryLimit: 1
    ttlSecondsAfterFinished: 600
    activeDeadlineSeconds: 300
    timeZone: ${TIMEZONE}

    deschedulerPolicyAPIVersion: descheduler/v1alpha2
    deschedulerPolicy:
      profiles:
        - name: ProfileName
          pluginConfig:
          - name: DefaultEvictor
            args:
              podProtections:
                defaultDisabled:
                  - PodsWithLocalStorage
                  - DaemonSetPods
                  - SystemCriticalPods
                  - FailedBarePods
          - name: RemovePodsHavingTooManyRestarts
            args:
              podRestartThreshold: 10
              includingInitContainers: true
          - name: RemovePodsViolatingTopologySpreadConstraint
            args:
              constraints:
                - DoNotSchedule
          - name: PodLifeTime
            args:
              states:
                - Pending
                - PodInitializing
                - ContainerCreating
              maxPodLifeTimeSeconds: 300
          - name: RemoveFailedPods
            args:
              excludeOwnerKinds:
                - Job
              includingInitContainers: true
              minPodLifetimeSeconds: 300
          - name: RemoveDuplicates
          - name: RemovePodsViolatingNodeTaints
          - name: RemovePodsViolatingNodeAffinity
            args:
              nodeAffinityType:
                - requiredDuringSchedulingIgnoredDuringExecution
          - name: RemovePodsViolatingInterPodAntiAffinity
          - name: LowNodeUtilization
            args:
              thresholds:
                cpu: 50
                memory: 50
                pods: 40
              targetThresholds:
                cpu: 80
                memory: 80
                pods: 50 #this is a % of the total allocatable pods per node, which is 110 total # of pods. so "50" would mean 55 pods, aka 50% of 110.
          plugins:
            balance:
              enabled:
                - RemoveDuplicates
                - LowNodeUtilization
                - RemovePodsViolatingTopologySpreadConstraint
            deschedule:
              enabled:
                - PodLifeTime
                - RemoveFailedPods
                - RemovePodsViolatingNodeTaints
                - RemovePodsViolatingNodeAffinity
                - RemovePodsHavingTooManyRestarts
                - RemovePodsViolatingInterPodAntiAffinity
    service:
      enabled: true
    serviceMonitor:
      enabled: false
    leaderElection:
      enabled: true