apiVersion: v1
kind: ServiceAccount
metadata:
  name: redis-master-controller
  namespace: database
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: redis-master-controller
  namespace: database
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "patch", "update"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: redis-master-controller
  namespace: database
subjects:
  - kind: ServiceAccount
    name: redis-master-controller
    namespace: database
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: redis-master-controller