---
commands:
  dry_run: False
  cross_seed: False
  recheck: False
  cat_update: False
  tag_update: False
  rem_unregistered: True
  tag_tracker_error: False
  rem_orphaned: True
  tag_nohardlinks: False
  share_limits: True
  skip_qb_version_check: False
  skip_cleanup: False

qbt:
  host: "qbittorrent.downloads.svc.cluster.local:8080"
  user: "{{ .QBITTORRENT_USERNAME }}"
  pass: "{{ .QBITTORRENT_PASSWORD }}"

settings:
  force_auto_tmm: False
  force_auto_tmm_ignore_tags:
    - cross-seed
    - Upload
  tracker_error_tag: issue
  nohardlinks_tag: noHL
  share_limits_tag: ~share_limit
  share_limits_min_seeding_time_tag: MinSeedTimeNotReached
  share_limits_min_num_seeds_tag: MinSeedsNotMet
  share_limits_last_active_tag: LastActiveLimitNotReached
  cross_seed_tag: cross-seed 
  cat_filter_completed: True 
  share_limits_filter_completed: True
  tag_nohardlinks_filter_completed: True
  cat_update_all: True
  disable_qbt_default_share_limits: True

directory:
  root_dir: "/media/downloads"
  recycle_bin: "/media/downloads/.RecycleBin"

cat:
  sonarr-complete: "/media/tv"
  radarr-complete: "/media/movies"

tracker:
  empirehost|bgp.technology|stackoverflow.tech:
    tag: IPTorrents
  landof.tv:
    tag: BroadcasTheNet
    notifiarr: broadcasthenet
  torrentleech|tleechreload:
    tag: TorrentLeech
    notifiarr: torrentleech
  # The "other" key is a special keyword and if defined will tag any other trackers that don't match the above trackers into this tag
  other:
    tag: other

share_limits:
  default:
    priority: 1
    categories:
      - sonarr-complete
      - radarr-complete
      - prowlarr
    max_seeding_time: 60d
    min_seeding_time: 30d
    max_ratio: -1
    limit_upload_speed: 0
    enable_group_upload_speed: false
    cleanup: true
    resume_torrent_after_change: true
    add_group_to_tag: true
    min_num_seeds: 0
    custom_tag: qbm_sharelimits_default

nohardlinks:
  sonarr-complete:
    ignore_root_dir: true
  radarr-complete:
    ignore_root_dir: true

orphaned:
  empty_after_x_days: 0
  exclude_patterns:
    - "**/.DS_Store"
    - "**/Thumbs.db"
    - "**/@eaDir"
    - "/data/torrents/temp/**"
    - "**/*.!qB"
    - "**/*_unpackerred"
  max_orphaned_files_to_delete: 25

recyclebin:
  enabled: true
  empty_after_x_days: 7
  # save_torrents: true
  split_by_category: false

notifiarr:
  apikey: {{ .QBM_NOTIFIARR_APIKEY }}


webhooks:
  error: notifiarr
  run_start: notifiarr
  run_end: notifiarr
  function:
    recheck: notifiarr
    cat_update: notifiarr
    tag_update: notifiarr
    rem_unregistered: notifiarr
    tag_tracker_error: notifiarr
    rem_orphaned: notifiarr
    tag_nohardlinks: notifiarr
    share_limits: notifiarr
    cleanup_dirs: notifiarr