---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
  namespace: kube-system
spec:
  chartRef:
    kind: OCIRepository
    name: cilium
    namespace: flux-system

  interval: 1h
  install:
    timeout: 10m
    replace: true
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3

  upgrade:
    remediation:
      remediateLastFailure: true
      retries: 3
      strategy: rollback
    cleanupOnFail: true
    crds: CreateReplace

  test:
    enable: true

  rollback:
    recreate: true
    force: true
    cleanupOnFail: true

  uninstall:
    keepHistory: false
    
  maxHistory: 1

  values:

    # Native routing support
    routingMode: native
    ipv4NativeRoutingCIDR: ${POD_CIDR}
    autoDirectNodeRoutes: true

    # kube-proxy
    kubeProxyReplacement: true
    kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256

    # ipam
    defaultLBServiceIPAM: "none" # prevents auto-assignment of LB IPs unless spec.loadBalancerClass is explicitly defined
    ipam:
      mode: cluster-pool
      operator:
        clusterPoolIPv4PodCIDRList:
          - ${POD_CIDR}

    devices:
      - ens18

    bpf:
      masquerade: false
    
    # bgp
    bgpControlPlane:
      enabled: true
    l2announcements:
      enabled: false

    # keep just to cilium 
    cni:
      exclusive: true

     # envoy / l7 
    envoy:
      enabled: false
    
    # rollouts
    rollOutCiliumPods: true
    updateStrategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 1

    # hubble
    hubble:
      enabled: false
      metrics:
        enabled:
        - dns:query
        - drop
        - tcp
        - flow
        - port-distribution
        - icmp
        - http
        serviceMonitor:
          enabled: true
        dashboards:
          enabled: true
      relay:
        enabled: false
        rollOutPods: true
        prometheus:
          enabled: true
          serviceMonitor:
            enabled: true

    # operator
    operator:
      enabled: true
      replicas: 2
      rollOutPods: true
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: true
      dashboards:
        enabled: true

    # metrics
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
        trustCRDsExist: true
    
    # grafana dashboard support
    dashboards:
      enabled: true