apiVersion: batch/v1
kind: CronJob
metadata:
  name: eraser-k3s-cleaner
spec:
  schedule: "0 0 * * *" # Runs every day at midnight
  timeZone: "${TIMEZONE}"
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: eraser-k3s-cleaner-sa
          containers:
          - name: pod-cleaner
            image: alpine/kubectl:latest
            command:
            - /bin/sh
            - -c
            - |
              # Find and delete pods in 'Succeeded' state with 'eraser-k3s' in their name in the kube-system namespace
              kubectl get pods -n kube-system --field-selector=status.phase=Succeeded -o jsonpath='{.items[*].metadata.name}' | \
              tr ' ' '\n' | grep 'eraser-k3s' | while read pod; do
                kubectl delete pod $pod -n kube-system;
              done
          restartPolicy: OnFailure