frontend k3s-frontend
    bind *:6443
    mode tcp
    option tcplog
    default_backend k3s-backend

backend k3s-backend
    mode tcp
    option tcp-check
    balance roundrobin
    default-server inter 10s downinter 5s
    server server-1 192.168.2.11:6443 check
    server server-2 192.168.2.12:6443 check
    server server-3 192.168.2.13:6443 check
    server server-4 192.168.2.14:6443 check
    server server-5 192.168.2.15:6443 check