---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: secure-networks
  namespace: networking
spec:
  ipAllowList:
    sourceRange:
      - ${SECURE_CIDR}
      - ${POD_CIDR}
      - ${SERVICE_CIDR}
      - ${VPN_CIDR}