---
- search:
    provider: [google, bing]
    focus: true
    target: _blank
    showSearchSuggestions: true
- logo:
    icon: https://cdn.jsdelivr.net/gh/selfhst/icons@main/png/kite-kubernetes.png
- kubernetes:
    cluster:
      cpu: true
      label: cluster
      memory: true
      show: true
      showLabel: true
    nodes:
      cpu: true
      memory: true
      show: true
      showLabel: true
- openmeteo:
    label: Home
    latitude: "{{HOMEPAGE_VAR_LATITUDE}}"
    longitude: "{{HOMEPAGE_VAR_LONGITUDE}}"
    timezone: ${TIMEZONE}
    units: imperial
    cache: 5
- datetime:
    text_size: l
    locale: en
    format:
      dateStyle: long
      timeStyle: long
- longhorn:
    expanded: true
    total: true
    labels: true
    nodes: true
- unifi_console:
    url: https://${GATEWAY_IP}
    username: "{{HOMEPAGE_VAR_UNIFI_USERNAME}}"
    password: "{{HOMEPAGE_VAR_UNIFI_PASSWORD}}"