---

blocking:
  loading:
    downloads:
      timeout: 10s
      attempts: 2
    concurrency: 16
    maxErrorsPerSource: -1
    refreshPeriod: 24h

  denylists:
    ads: # Ref: https://firebog.net
      - https://adaway.org/hosts.txt
      - https://v.firebog.net/hosts/AdguardDNS.txt
      - https://v.firebog.net/hosts/Admiral.txt
      - https://raw.githubusercontent.com/anudeepND/blacklist/master/adservers.txt
      - https://v.firebog.net/hosts/Easylist.txt
      - https://pgl.yoyo.org/adservers/serverlist.php?hostformat=hosts&showintro=0&mimetype=plaintext
      - https://raw.githubusercontent.com/FadeMind/hosts.extras/master/UncheckyAds/hosts
      - https://raw.githubusercontent.com/bigdargon/hostsVN/master/hosts
      
    malicious: # Ref: https://firebog.net
      - https://raw.githubusercontent.com/DandelionSprout/adfilt/master/Alternate%20versions%20Anti-Malware%20List/AntiMalwareHosts.txt
      - https://v.firebog.net/hosts/Prigent-Crypto.txt
      - https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Risk/hosts
      - https://bitbucket.org/ethanr/dns-blacklists/raw/8575c9f96e5b4a1308f2f12394abd86d0927a4a0/bad_lists/Mandiant_APT1_Report_Appendix_D.txt
      - https://phishing.army/download/phishing_army_blocklist_extended.txt
      - https://gitlab.com/quidsup/notrack-blocklists/raw/master/notrack-malware.txt
      - https://v.firebog.net/hosts/RPiList-Malware.txt
      - https://raw.githubusercontent.com/Spam404/lists/master/main-blacklist.txt
      - https://raw.githubusercontent.com/AssoEchap/stalkerware-indicators/master/generated/hosts
      - https://urlhaus.abuse.ch/downloads/hostfile/
      - https://lists.cyberhost.uk/malware.txt
      - https://malware-filter.gitlab.io/malware-filter/phishing-filter-hosts.txt
      - https://v.firebog.net/hosts/Prigent-Malware.txt
      - https://raw.githubusercontent.com/jarelllama/Scam-Blocklist/main/lists/wildcard_domains/scams.txt
      - https://v.firebog.net/hosts/RPiList-Phishing.txt

    hagezi: # Ref: https://github.com/hagezi/dns-blocklists
      - https://raw.githubusercontent.com/hagezi/dns-blocklists/main/wildcard/multi.txt

    other: # Ref: https://firebog.net
      - https://zerodot1.gitlab.io/CoinBlockerLists/hosts_browser

    suspicious: # Ref: https://firebog.net
      - https://raw.githubusercontent.com/PolishFiltersTeam/KADhosts/master/KADhosts.txt
      - https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Spam/hosts
      - https://v.firebog.net/hosts/static/w3kbl.txt
      - https://raw.githubusercontent.com/matomo-org/referrer-spam-blacklist/master/spammers.txt
      - https://someonewhocares.org/hosts/zero/hosts
      - https://raw.githubusercontent.com/VeleSila/yhosts/master/hosts
      - https://winhelp2002.mvps.org/hosts.txt
      - https://v.firebog.net/hosts/neohostsbasic.txt
      - https://raw.githubusercontent.com/RooneyMcNibNug/pihole-stuff/master/SNAFU.txt
      - https://paulgb.github.io/BarbBlock/blacklists/hosts-file.txt

    tracking: # Ref: https://firebog.net
      - https://v.firebog.net/hosts/Easyprivacy.txt
      - https://v.firebog.net/hosts/Prigent-Ads.txt
      - https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.2o7Net/hosts
      - https://raw.githubusercontent.com/crazy-max/WindowsSpyBlocker/master/data/hosts/spy.txt
      - https://hostfiles.frogeye.fr/firstparty-trackers-hosts.txt
      - https://raw.githubusercontent.com/Perflyst/PiHoleBlocklist/master/android-tracking.txt
      - https://raw.githubusercontent.com/Perflyst/PiHoleBlocklist/master/SmartTV.txt
      - https://raw.githubusercontent.com/Perflyst/PiHoleBlocklist/master/AmazonFireTV.txt
      - https://gitlab.com/quidsup/notrack-blocklists/raw/master/notrack-blocklist.txt

  allowlists:
    ads: &allowList
      - https://raw.githubusercontent.com/anudeepND/whitelist/master/domains/whitelist.txt
      - /lists/allowlist.txt
    malicious: *allowList
    hagezi: *allowList
    other: *allowList
    suspicious: *allowList
    tracking: *allowList

  clientGroupsBlock:
    default:
      - ads
      - malicious
      - hagezi
      - other
      - suspicious
      - tracking
    # ${GUEST_CIDR}:
    #   - malicious
    #   - suspicious
    #   - tracking

caching:
  minTime: 15m
  prefetching: true
  prefetchExpires: 2h

clientLookup:
  upstream: ${GATEWAY_IP}

customDNS:
  customTTL: 1h
  filterUnmappedTypes: true
  mapping:
    local.${SECRET_DOMAIN}: ${TRAEFIK_IP}
    k3s.${SECRET_DOMAIN}: ${K3S_LB_IP}
    nfs.${SECRET_DOMAIN}: ${OMV_IP}
    pve1.${SECRET_DOMAIN}: ${PVE_1}
    pve2.${SECRET_DOMAIN}: ${PVE_2}
    pve3.${SECRET_DOMAIN}: ${PVE_3}
    pve4.${SECRET_DOMAIN}: ${PVE_4}
    vault.${SECRET_DOMAIN}: ${TRAEFIK_IP}

connectIPVersion: v4

ecs:
  useAsClient: true

dnssec:
  validate: true

log:
  level: info
  format: text

ports:
  dns: 53
  http: 4000

prometheus:
  enable: true
  path: /metrics

queryLog:
  type: postgresql
  target: postgresql://{{ .BLOCKY_POSTGRES_USER }}:{{ .BLOCKY_POSTGRES_PASS }}@postgres-17-rw.database.svc.cluster.local:5432/blocky
  logRetentionDays: 7

bootstrapDns:
  - upstream: tcp-tls:security.cloudflare-dns.com
    ips:
    - 1.1.1.1
    - 9.9.9.9
  - upstream: tcp-tls:dns11.quad9.net
    ips:
    - 1.1.1.1
    - 9.9.9.9

upstreams:
  strategy: strict
  groups:
    default:
      - tcp-tls:security.cloudflare-dns.com:853
      - tcp-tls:dns11.quad9.net:853

redis:
  required: false
  address: redis-master
  database: 2
  sentinelAddresses:
    - redis-sentinel.database.svc.cluster.local:26379