---
web:
  port: 8080
storage:
  type: postgres
  path: postgres://{{ .GATUS_POSTGRES_USER }}:{{ .GATUS_POSTGRES_PASS }}@postgres-17-rw.database.svc.cluster.local:5432/${APP}?sslmode=disable
  caching: true
metrics: true
debug: false
ui:
  title: Status | Gatus
  header: Status
alerting:
  discord:
    webhook-url: {{ .GATUS_DISCORD_WEBHOOK }}
    title: ":helmet_with_white_cross: Gatus"
    default-alert:
      description: health-check failed
      send-on-resolved: true
      failure-threshold: 5
      success-threshold: 2
connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 1m
endpoints:
  - name: status
    group: external
    url: https://status.${SECRET_DOMAIN}
    interval: 1m
    client:
      dns-resolver: tcp://1.1.1.1:53
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: discord
      - minimum-reminder-interval: "3h"
    ui:
      resolve-successful-conditions: true
maintenance:
  start: 03:00
  duration: 1h
  timezone: "${TIMEZONE}"
  every: [Sunday]
