---
plexautolanguages:

  update_level: "show"
  update_strategy: "all"
  trigger_on_play: true
  trigger_on_scan: true
  trigger_on_activity: false
  refresh_library_on_scan: false 

  ignore_labels:
    - PAL_IGNORE

  # Plex configuration
  plex:
    url: "http://plex.media.svc.cluster.local:32400"
    token: "{{ .PLEX_TOKEN }}"

  scheduler:
    enable: true
    schedule_time: "02:30"

  notifications:
    enable: true
    apprise_configs:
      - "{{ .PLEX_AUTO_LANGUAGES_DISCORD_APPRISE }}"

  debug: false