---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name unpackerr
  namespace: downloads

spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 10m

  install:
    timeout: 10m
    replace: true
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3

  upgrade:
    remediation:
      remediateLastFailure: true
      retries: 3
      strategy: rollback
    cleanupOnFail: true
    crds: CreateReplace

  test:
    enable: true

  rollback:
    recreate: true
    force: true
    cleanupOnFail: true

  uninstall:
    keepHistory: false
    
  maxHistory: 1

  values:

    controllers:
      ${APP}:
        enabled: true
        type: deployment
        annotations: {}
        labels: {}
        replicas: 1

        containers:
          app:
            nameOverride: *name
            image:
              repository: ghcr.io/hotio/unpackerr
              tag: release-0.14.5@sha256:f963f59ed48f403a089ad92999ed007494c036fa0b3c3843457f3cd9086c42d8
              pullPolicy: IfNotPresent

            env:
            # Global
              TZ: ${TIMEZONE}
              PUID: 1000
              PGID: 1000
              UMASK: 002
            # Sonarr Config
              UN_SONARR_0_URL: http://sonarr:8989
              UN_SONARR_0_API_KEY: 
                valueFrom:
                  secretKeyRef:
                    name: unpackerr-secret
                    key: SONARR_API_KEY
              UN_SONARR_0_PATHS_0: /media/downloads
              UN_SONARR_0_PROTOCOLS: torrent
              UN_SONARR_0_TIMEOUT: 10s
              UN_SONARR_0_DELETE_ORIG: false
              UN_SONARR_0_DELETE_DELAY: 5m
              # Radarr Config
              UN_RADARR_0_URL: http://radarr:7878
              UN_RADARR_0_API_KEY: 
                valueFrom:
                  secretKeyRef:
                    name: unpackerr-secret
                    key: RADARR_API_KEY
              UN_RADARR_0_PATHS_0: /media/downloads
              UN_RADARR_0_PROTOCOLS: torrent
              UN_RADARR_0_TIMEOUT: 10s
              UN_RADARR_0_DELETE_ORIG: false
              UN_RADARR_0_DELETE_DELAY: 5m
              # Webhook Config
              UN_WEBHOOK_0_URL: 
                valueFrom:
                  secretKeyRef:
                    name: unpackerr-secret
                    key: UNPACKERR_NOTIFIARR_URL
              UN_WEBHOOK_0_NAME: Notifiarr
              UN_WEBHOOK_0_NICKNAME: Unpackerr
              # Webserver Config
              UN_WEBSERVER_METRICS: true #serves prometheus metrics


            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 4Gi

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

    service:
      app:
        controller: *name
        ports:
          http:
            port: 5656

    serviceMonitor:
      app:
        serviceName: *name
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s

    persistence:

      media:
        enabled: true
        type: nfs
        server: ${OMV_IP}
        path: /export/media 
        globalMounts:
          - path: /media/

      logs:
        type: emptyDir
      