---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name qbittorrent-exporter-secret
spec:
  secretStoreRef:
    name: gitlab-secret-store
    kind: ClusterSecretStore
  target:
    name: *name
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        QBITTORRENT_USER: "{{ .QBITTORRENT_USERNAME }}"
        QBITTORRENT_PASS: "{{ .QBITTORRENT_PASSWORD }}"
  dataFrom:
    - extract:
        key: qbittorrent