apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name pgadmin-secret

spec:
  secretStoreRef:
    name: gitlab-secret-store
    kind: ClusterSecretStore

  refreshInterval: "1h"
  target:
      name: *name
      template:
        engineVersion: v2
        data:
          PGADMIN_DEFAULT_EMAIL: "{{ .PGADMIN_DEFAULT_EMAIL }}"
          PGADMIN_DEFAULT_PASSWORD: "{{ .PGADMIN_DEFAULT_PASSWORD }}"
          pgpass: postgres-17-rw.database.svc.cluster.local:5432:*:{{ .POSTGRES_SUPER_USER }}:{{ .POSTGRES_SUPER_PASS }}
      templateFrom:
        - configMap:
            name: pgadmin-configmap
            items:
              - key: secrets.json
  dataFrom:
    - extract:
        key: pgadmin
    - extract:
        key: cloudnativepg