apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: metallb-pool
  namespace: networking
spec:
  addresses:
  - 192.168.10.0/25

# ---
# apiVersion: metallb.io/v1beta1
# kind: L2Advertisement
# metadata:
#   name: metallb-l2advertisement
#   namespace: networking
# spec:
#   ipAddressPools:
#   - metallb-pool

---
apiVersion: metallb.io/v1beta2
kind: BGPPeer
metadata:
  name: metallb-bgp-peer
  namespace: networking
spec:
  myASN: 64514
  peerASN: 64513
  peerAddress: ${GATEWAY_IP}
  # bfdProfile: metallb-bfd-profile

---
apiVersion: metallb.io/v1beta1
kind: BGPAdvertisement
metadata:
  name: metallb-bgp-advertisement
  namespace: networking
spec:
  ipAddressPools:
  - metallb-pool

# ---
# apiVersion: metallb.io/v1beta1
# kind: BFDProfile
# metadata:
#   name: metallb-bfd-profile
#   namespace: metallb-system
# spec:
#   receiveInterval: 380
#   transmitInterval: 270