---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name homepage-secret
spec:
  secretStoreRef:
    name: gitlab-secret-store
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        ## Non Cluster resources
        HOMEPAGE_VAR_UNIFI_USERNAME: "{{ .UP_UNIFI_DEFAULT_USER }}"
        HOMEPAGE_VAR_UNIFI_PASSWORD: "{{ .UP_UNIFI_DEFAULT_PASS }}"
        HOMEPAGE_VAR_ADGUARD_USERNAME: "{{ .ADGUARD_USER }}"
        HOMEPAGE_VAR_ADGUARD_PASSWORD: "{{ .ADGUARD_PASSWORD }}"
        HOMEPAGE_VAR_LATITUDE: "{{ .HOMEPAGE_VAR_LATITUDE }}"
        HOMEPAGE_VAR_LONGITUDE: "{{ .HOMEPAGE_VAR_LONGITUDE }}"
        HOMEPAGE_VAR_NWS_ISSUER: "{{ .HOMEPAGE_VAR_NWS_ISSUER }}"

        ## Home
        HOMEPAGE_VAR_HASS_TOKEN: "{{ .HASS_TOKEN }}"

        ## Downloads
        HOMEPAGE_VAR_BAZARR_TOKEN: "{{ .BAZARR_API_KEY }}"
        HOMEPAGE_VAR_PROWLARR_TOKEN: "{{ .PROWLARR_API_KEY }}"
        HOMEPAGE_VAR_QBITTORRENT_USERNAME: "{{ .QBITTORRENT_USERNAME }}"
        HOMEPAGE_VAR_QBITTORRENT_PASSWORD: "{{ .QBITTORRENT_PASSWORD }}"
        HOMEPAGE_VAR_RADARR_TOKEN: "{{ .RADARR_API_KEY }}"
        HOMEPAGE_VAR_SONARR_TOKEN: "{{ .SONARR_API_KEY }}"
        HOMEPAGE_VAR_AUTOBRR_TOKEN: " {{ .AUTOBRR_API_KEY }}"

        ## Media
        HOMEPAGE_VAR_SEERR_TOKEN: "{{ .SEERR_API_KEY }}"
        HOMEPAGE_VAR_PLEX_TOKEN: "{{ .PLEX_TOKEN }}"
        HOMEPAGE_VAR_TAUTULLI_TOKEN: "{{ .TAUTULLI_API_KEY }}"
        HOMEPAGE_VAR_JELLYFIN_TOKEN: "{{ .HOMEPAGE_VAR_JELLYFIN_TOKEN }}"
        HOMEPAGE_VAR_DISPATCHARR_USERNAME: "{{ .DISPATCHARR_USERNAME }}"
        HOMEPAGE_VAR_DISPATCHARR_PASSWORD: "{{ .DISPATCHARR_PASSWORD }}"

        ## Observability
        HOMEPAGE_VAR_GRAFANA_USERNAME: "{{ .GF_SECURITY_ADMIN_USER }}"
        HOMEPAGE_VAR_GRAFANA_PASSWORD: "{{ .GF_SECURITY_ADMIN_PASSWORD }}"
        
        ## Proxmox
        HOMEPAGE_VAR_PVE_TOKEN_ID: "{{ .PVE_TOKEN_ID }}"
        HOMEPAGE_VAR_PVE_1_SECRET: "{{ .PVE_1_SECRET }}"
        HOMEPAGE_VAR_PVE_2_SECRET: "{{ .PVE_2_SECRET }}"

        ## NAS
        HOMEPAGE_VAR_OMV1_USER: "{{ .OMV1_USER }}"
        HOMEPAGE_VAR_OMV1_PASS: "{{ .OMV1_PASS }}"
        HOMEPAGE_VAR_OMV2_USER: "{{ .OMV2_USER }}"
        HOMEPAGE_VAR_OMV2_PASS: "{{ .OMV2_PASS }}"

  dataFrom:
  - extract:
      key: adguard_lxc
  - extract:
      key: autobrr
  - extract:
      key: bazarr
  - extract:
      key: dispatcharr
  - extract:
      key: grafana
  - extract:
      key: homepage
  - extract:
      key: jellyfin
  - extract:
      key: seerr
  - extract:
      key: plex
  - extract:
      key: prowlarr
  - extract:
      key: qbittorrent
  - extract:
      key: radarr
  - extract:
      key: sonarr
  - extract:
      key: tautulli
  - extract:
      key: unifi