---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: radarr-exporter
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: gitlab-secret-store
  target:
    name: radarr-exporter-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        APIKEY: "{{ .RADARR__API_KEY }}"
  data:
    - secretKey: &key1 RADARR__API_KEY #key that will be part of the secret
      remoteRef:
        key: *key1 #key on Gitlab