# yaml-language-server: $schema=https://raw.githubusercontent.com/nwithan8/tauticord/master/.schema/config_v2.schema.json

# Tautulli settings
Tautulli:
  URL: "http://tautulli.media.svc.cluster.local:8181"
  APIKey: "{{ .TC_TAUTULLI_KEY }}"
  UseSelfSignedCert: false
  RefreshSeconds: 30
  TerminateMessage: "Your stream has been terminated. Please contact the server owner with any questions."

# Discord settings
Discord:
  BotToken: "{{ .TC_DISCORD_BOT_TOKEN }}"
  ServerID: '{{ .TC_DISCORD_SERVER_ID }}' # Right-click on your server's icon -> "Copy ID"
  AdminIDs:
    - '{{ .TC_DISCORD_ADMIN_IDS }}' # Right-click on your profile picture -> "Copy ID"
  PostSummaryMessage: true
  AdminChannelName: 'tautulli-live'
  EnableTermination: true #with v5.4.0
  EnableSlashCommands: true
  StatusMessage:
    Enable: true
    CustomMessage: 'Plex Activity'
    ShowStreamCount: true
  PublicChannelName: ''
  PostRecentlyAddedMessage: false
  

# Display settings
Display:
  # Anonymization settings
  Anonymize:
    HideBandwidth: false
    HideETA: false
    HidePlatforms: false
    HidePlayerNames: false
    HideProgress: false
    HideQuality: false
    HideTranscode: false
    HideUsernames: false
  ServerName: 'plex-k3s'
  ThousandsSeparator: ''
  
  # Time settings - remove with v5.12.0
  Time: {}
  # Whether to use Plex users' names instead of usernames
  UseFriendlyNames: true

# Extra settings
Extras:
  AllowAnalytics: false
  EnableUpdateReminders: false

# Stats settings
Stats:
  Activity:
   CategoryName: "Plex Stats"
   Enable: true
   StatTypes:
     Bandwidth:
       CustomEmoji: ''
       CustomName: 'Traffic'
       Enable: true
       VoiceChannelID: {{ .TC_BANDWIDTH_CHANNEL_ID }}
     LocalBandwidth:
       CustomEmoji: ''
       CustomName: 'LAN'
       Enable: true
       VoiceChannelID: {{ .TC_LOCAL_BANDWIDTH_CHANNEL_ID }}
     PlexServerAvailability:
       CustomName: ''
       CustomEmoji: ''
       Enable: true
       VoiceChannelID: {{ .TC_PLEX_STATUS_CHANNEL_ID }}
     RemoteBandwidth:
       CustomEmoji: ''
       CustomName: 'WAN'
       Enable: true
       VoiceChannelID: {{ .TC_REMOTE_BANDWIDTH_CHANNEL_ID }}
     StreamCount:
        CustomEmoji: ''
        CustomName: 'Streams'
        Enable: true
        VoiceChannelID: {{ .TC_STREAM_COUNT_CHANNEL_ID }}
     TranscodeCount:
        CustomEmoji: ''
        CustomName: 'Transcodes'
        Enable: true
        VoiceChannelID: {{ .TC_TRANSCODE_COUNT_CHANNEL_ID }}

  # Library stats
  Libraries:
    Enable: true
    CategoryName: "Tautulli Libraries"
    RefreshSeconds: 3600
    Libraries:
      - Name: "Movies"
        # A friendlier name for the library to use in Discord
        AlternateName: "Movies"
        ID: 1
        Albums:
          CustomEmoji: ''
          CustomName: ''
          Enable: false
          VoiceChannelID: 0
        Artists:
          CustomEmoji: ''
          CustomName: ''
          Enable: false
          VoiceChannelID: 0
        Episodes:
          CustomEmoji: ''
          CustomName: ''
          Enable: false
          VoiceChannelID: 0
        Movies:
          CustomEmoji: ''
          CustomName: ''
          Enable: true
          VoiceChannelID: {{ .TC_MOVIES_COUNT_CHANNEL_ID }}
        Series:
          CustomEmoji: ''
          CustomName: ''
          Enable: false
          VoiceChannelID: 0
        Seasons:
          CustomName: ''
          CustomEmoji: ''
          Enable: false
          VoiceChannelID: 0
        Tracks:
          CustomEmoji: ''
          CustomName: ''
          Enable: false
          VoiceChannelID: 0
        RecentlyAdded:
          CustomName: ''
          CustomEmoji: ''
          Enable: false
          VoiceChannelID: 0
          Hours: 24
      - Name: "TV Shows"
        AlternateName: "TV Shows"
        ID: 2
        Albums:
          CustomEmoji: ''
          CustomName: ''
          Enable: false
          VoiceChannelID: 0
        Artists:
          CustomEmoji: ''
          CustomName: ''
          Enable: false
          VoiceChannelID: 0
        Episodes:
          CustomEmoji: ''
          CustomName: 'TV Episodes'
          Enable: true
          VoiceChannelID: {{ .TC_EPISODES_COUNT_CHANNEL_ID }}
        Movies:
          CustomEmoji: ''
          CustomName: ''
          Enable: false
          VoiceChannelID: 0
        Series:
          CustomEmoji: ''
          CustomName: 'TV Series'
          Enable: true
          VoiceChannelID: {{ .TC_SERIES_COUNT_CHANNEL_ID }}
        Seasons:
          CustomName: 'TV Seasons'
          CustomEmoji: ''
          Enable: true
          VoiceChannelID: {{ .TC_SEASONS_COUNT_CHANNEL_ID }}
        Tracks:
          CustomEmoji: ''
          CustomName: ''
          Enable: false
          VoiceChannelID: 0
        RecentlyAdded:
          CustomName: ''
          CustomEmoji: ''
          Enable: false
          VoiceChannelID: 0
          Hours: 24

    CombinedLibraries: []

  # Stats about the Tauticord host's performance
  Performance:
    CategoryName: "Performance"
    Enable: false
    Metrics:
      CPU:
        CustomEmoji: ''
        CustomName: ''
        Enable: false
        VoiceChannelID: 0
      DiskSpace:
        CustomEmoji: ''
        CustomName: ''
        Enable: false
        VoiceChannelID: 0
      Memory:
        CustomEmoji: ''
        CustomName: ''
        Enable: false
        VoiceChannelID: 0
      UserCount:
        CustomEmoji: ''
        CustomName: ''
        Enable: false
        VoiceChannelID: 0