---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: gatus
spec:
  secretStoreRef:
      name: gitlab-secret-store
      kind: ClusterSecretStore
  target:
    name: gatus-secret
    template:
      engineVersion: v2
      templateFrom:
        - configMap:
            name: gatus-configmap
            items:
              - key: config.yaml
      data:
        GATUS_DISCORD_WEBHOOK: "{{ .GATUS_DISCORD_WEBHOOK }}"
        INIT_POSTGRES_DBNAME: gatus
        INIT_POSTGRES_HOST: postgres-17-rw.database.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .GATUS_POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .GATUS_POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: cloudnativepg
    - extract:
        key: gatus