---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name gatus
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.0.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 1
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      ${APP}:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17
            envFrom: &envFrom
              - secretRef:
                  name: gatus-secret
          init-config:
            dependsOn: init-db
            image: &configSyncImage
              repository: ghcr.io/kiwigrid/k8s-sidecar
              tag: 1.30.3
            env:
              FOLDER: /config
              LABEL: gatus.io/enabled
              NAMESPACE: ALL
              RESOURCE: both
              UNIQUE_FILENAMES: true
              METHOD: LIST
            resources: &configSyncResources
              requests:
                cpu: 10m
                memory: 10Mi
              limits:
                memory: 128Mi
        containers:
          app:
            image:
              # move back to version-based once a new release is cut
              repository: ghcr.io/twin/gatus
              tag: v5.17.0@sha256:a8c53f9e9f1a3876cd00e44a42c80fc984e118d5ba0bdbaf08980cb627d61512
            env:
              TZ: ${TIMEZONE}
              GATUS_CONFIG_PATH: /config
              CUSTOM_WEB_PORT: &port 8080
              SECRET_DOMAIN: ${SECRET_DOMAIN}
            envFrom: *envFrom
            resources:
              requests:
                cpu: 10m
                memory: 256M
              limits:
                memory: 512M
          config-sync:
            image: *configSyncImage
            env:
              FOLDER: /config
              LABEL: gatus.io/enabled
              NAMESPACE: ALL
              RESOURCE: both
              UNIQUE_FILENAMES: true
              METHOD: WATCH
            envFrom: *envFrom
            resources: *configSyncResources
    service:
      app:
        controller: *name
        ports:
          http:
            port: *port

    serviceMonitor:
      app:
        serviceName: *name
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1h
            scrapeTimeout: 1m
    ingress:
      app:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/enabled: "true"
          external-dns.alpha.kubernetes.io/target: "ipv4.${SECRET_DOMAIN}"
          traefik.ingress.kubernetes.io/router.middlewares: networking-external-with-errors@kubernetescrd
          cert-manager.io/cluster-issuer: letsencrypt-production
          hajimari.io/icon: mdi:list-status
          hajimari.io/info: &description Service Monitoring
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: *description
          gethomepage.dev/group: Status
          gethomepage.dev/icon: gatus
          gethomepage.dev/name: Gatus
          gethomepage.dev/widget.type: ${APP}
          gethomepage.dev/widget.url: http://${APP}.monitoring.svc.cluster.local:8080
        hosts:
          - host: &host status.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

        tls: 
         - secretName: ${APP}-tls-production
           hosts:
             - *host

    serviceAccount:
      create: true
      name: gatus

    persistence:
      config:
        enabled: true
        type: emptyDir
      config-file:
        type: secret
        name: gatus-secret
        items:
          - key: config.yaml
            path: config.yaml
        globalMounts:
          - path: /config/config.yaml
            subPath: config.yaml
            readOnly: true