---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: goldilocks
  namespace: monitoring

spec:
  interval: 30m
  chart:
    spec:
      chart: goldilocks
      version: 10.1.0
      sourceRef:
        kind: HelmRepository
        name: fairwinds-charts
        namespace: flux-system
      interval: 10m

  install:
    timeout: 10m
    replace: true
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3

  upgrade:
    remediation:
      remediateLastFailure: true
      retries: 3
      strategy: rollback
    cleanupOnFail: true
    crds: CreateReplace

  test:
    enable: true

  rollback:
    recreate: true
    force: true
    cleanupOnFail: true

  uninstall:
    keepHistory: false
    
  maxHistory: 1

  values:

    metrics-server:
      enabled: false
      apiService:
        create: true

    dashboard:
      basePath: null
      enabled: true
      revisionHistoryLimit: 0
      replicaCount: 2
      service:
        type: ClusterIP
        port: 80

      ingress:
        enabled: true
        ingressClassName: traefik
        annotations: 
          cert-manager.io/cluster-issuer: letsencrypt-production
          external-dns.alpha.kubernetes.io/target: traefik.local.${SECRET_DOMAIN}
          traefik.ingress.kubernetes.io/router.middlewares: networking-internal-with-errors@kubernetescrd
          hajimari.io/icon: mdi:file-chart-outline
          hajimari.io/info: &description Kubernetes Resource Recommendations
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: *description
          gethomepage.dev/group: Monitoring
          gethomepage.dev/icon: https://github.com/FairwindsOps/goldilocks/raw/master/img/goldilocks.svg
          gethomepage.dev/name: Goldilocks
          gethomepage.dev/href: https://goldilocks.local.${SECRET_DOMAIN}/namespaces
          gethomepage.dev/app: goldilocks
          gethomepage.dev/siteMonitor: http://goldilocks-dashboard.monitoring.svc.cluster.local:80

        hosts:
          - host: &host goldilocks.local.${SECRET_DOMAIN}
            paths:
              - path: /
                type: ImplementationSpecific

        tls: 
          - secretName: goldilocks-tls-production
            hosts:
              - *host
  